body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title {
  color: blue;
}

.input {
  border-color: blue;
  width: 300px;
  margin-right: 5px;
}

.output {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container {
  margin-left: 30px;
  margin-right: 10px;
}

.container1 {
  display: flex;
  justify-content: flex-start;
}

.container2 {
  margin-right: 30px;
}
