body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin-left: 30px;
}

label {
  font-weight: 500;
  color: white;
}

input {
  border-radius: 8px;
  font-size: 15px;
  margin: 13px;
  padding: 4px;
}

button {
  color: green;
  font-weight: bold;
  font-size: 15px;
  border: solid;
  border-radius: 12px;
  border-color: green;
  padding: 10px;
  background: white;
  margin: 5px;
}

button:hover {
  color: white;
  background: green;
}

.title {
  color: blue;
}

.input {
  border-color: blue;
  width: 300px;
  margin-right: 5px;
}

.output {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container {
  margin-left: 30px;
  margin-right: 10px;
}

.container1 {
  display: flex;
  justify-content: flex-start;
}

.container2 {
  padding: 10px;
  border: solid;
  border-color: rgb(11, 179, 152);
  background: rgb(11, 179, 152);
  border-radius: 8px;
  margin-right: 30px;
  margin-left: 30px;
}

.todo {
  margin: 30px;
  border: solid;
  border-radius: 8px;
  border-color: rgb(6, 189, 112);
  background: rgb(6, 189, 112);
  padding: 10px;
}

.editContact {
  padding: 10px;
  border: solid;
  border-color: rgb(11, 179, 152);
  background: rgb(11, 179, 152);
  border-radius: 8px;
}
